@font-face{
    font-family:AlexBrush-Regular;
    src:url(./Font/AlexBrush-Regular.ttf);
}

/*---------------------------SELECTORS--------------------*/
/*-----------------Universal Selector-----------------*/
* {
    margin: 0px;
    padding: 0px;
}

/*-----------------Tag Selector-----------------*/
h3{
    color:red;
    font-family:AlexBrush-Regular;


}
p{
    font-family:'Oswald', sans-serif;
    text-align: justify;
    text-indent:25px;
    line-height:3;
    text-shadow: 10px 10px 10px;

}
/*-----------------Class Selector-----------------*/
.odd{
    font-family:'Oswald', sans-serif;
    font-weight:800;
    font-style:italic;
    text-decoration:underline;
    text-transform:uppercase;
    word-spacing: 10px;
    letter-spacing: 10px;
    color: blueviolet;
}
/*-----------------ID Selector-----------------*/
#add{
    direction: rtl;
    unicode-bidi: bidi-override;
}
/*-----------------Attribute Selector-----------------*/
[type=submit]{
    color: blue;
    font-weight: bold;
}
