@font-face{
    font-family:AlexBrush-Regular;
    src:url(./Font/AlexBrush-Regular.ttf);
}

/*---------------------------SELECTORS--------------------*/
/*-----------------Universal Selector-----------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*-----------------Tag Selector-----------------*/
h3{
    color:red;
    font-family:AlexBrush-Regular;


}
p{
    font-family:'Oswald', sans-serif;
    text-align: justify;
    text-indent:25px;
    line-height:3;
    text-shadow: 10px 10px 10px;

}
/*-----------------Class Selector-----------------*/
.odd{
    font-family:'Oswald', sans-serif;
    font-weight:800;
    font-style:italic;
    text-decoration:underline;
    text-transform:uppercase;
    word-spacing: 10px;
    letter-spacing: 10px;
    color: blueviolet;
}
/*-----------------ID Selector-----------------*/
#add{
    direction: rtl;
    unicode-bidi: bidi-override;
}
/*-----------------Attribute Selector-----------------*/
[type=submit]{
    color: blue;
    font-weight: bold;
}
.dada{
    font-size:15px;
    color: forestgreen;
}
/*---------------------------General sibling selector---------------*/
p~h2{
    color: red;
}
h1~p{
    color: blue;
}
/*---------------------------Adjacent sibling selector---------------*/
h5+p{
    color: crimson;
}
/*-------------------------Child selector(>)------------*/
.baba>h2{
    color:orange;

}
.pappa h2{
    color:aqua;
    font-size:medium;
}
/*----------------------------------CSS Box Model----------------------------*/

.box_1{
    background-color: rgb(222, 231, 231);
    color: white;
    height: 250px;
    width: 250px;
    padding: 10px;
    border: 10px solid rgb(32, 5, 32);  
    margin-bottom: 10px; 
}
.box_2{
    background-color:green;
    height: 200px;
    width: 350px;
    position: relative;
    
  
}
.redbox{
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
   
}
.box{
    background-color: tomato;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    position: relative;
}
.box1{
    background-color: crimson;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}
.box2{
    background-color: rgb(87, 35, 155);
    height: 100px;
    width: 100px;
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transform: rotate(45deg);

}
.box3{
    background-color: rgb(143, 220, 20);
    height: 50px;
    width: 50px;
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
}
a{
    background-color:white;
    padding: 10px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    text-decoration: none;
    border-style: solid;
    border-color:rgb(46, 121, 172);
    color: black;
    transition: o.5s all;
}
.button{
    border-radius: 10%;
}
a:hover{
    background-color:rgb(46, 121, 172);
    color: white;
    
}


